

@import 'sass-bootstrap/lib/bootstrap';
@import 'timeline'; 
@import 'map'; 




.container {
    
}

.content-wrapper {
    margin: 0;
    padding: 0;
}


h1 {
    color: #97a6a9;
}

h2 {
    margin-top: 1.5em;
    border-top: 1px solid #5e686b;
    color: #97a6a9;
}

