

@import 'sass-bootstrap/lib/bootstrap';
@import 'timeline'; 
@import 'map'; 




.container {
    
}

.content-wrapper {
    margin: 0;
    padding: 0;
}


h1 {
    color: #97a6a9;
}

h2 {
    margin-top: 40px;
    margin-bottom: 15px;
    padding-top: 7px;
    border-top: 1px solid #5e686b;
    color: #97a6a9;
}

.description {
    margin: 1em 0 1em 0;
}

.col-xs-12, .col-md-6, .col-md-12 {
    padding: 0 15px 0 0;
}