
path {
  stroke: white;
  stroke-width: 0.25px;
  fill: #a1a1a1;
}

path.selected, path:hover {
	stroke: red;
	stroke-width: 1px;
}

.map-background {
	fill: #fff;
	stroke: none;
}



/* loading screen */
.loading-background {
	fill: #f5f5f5;
  stroke: #f5f5f5;
  stroke-width: 0;
}


/* country details */
.country-details {
	text {
		fill: #5e686b;
		stroke: none;
	}

	.title {
		font-weight: bold;
	}

}


/* legend */
.legend-label {
	fill: #5e686b;
	stroke: none;
}


