
path {
  stroke: #535353;
  stroke-width: 0.25px;
  /*stroke: none;*/
  fill: #a1a1a1;
}

path.selected, path:hover {
	stroke: red;
	stroke-width: 1px;
}

.map-background {
	fill: transparent;
	stroke: none;
}

/* loading screen */
.loading-background {
	fill: #f5f5f5;
  stroke: #f5f5f5;
  stroke-width: 0;
}

/* country details */
.country-details {
	text {
		fill: #f1f1f1;
		stroke: none;
	}

	.title {
		font-weight: bold;
		fill: #97a6a9;
	}

}

/* legend */
.legend-label {
	fill: #f1f1f1;
	stroke: none;
}


