
path {
  stroke: white;
  stroke-width: 0.25px;
  fill: #a1a1a1;
}

path.selected, path:hover {
	stroke: red;
	stroke-width: 1px;
}

.category1 {
	fill: #eff3ff;	
}

.category2 {
	fill: #c6dbef;	
}

.category3 {
	fill: #9ecae1;	
}

.category4 {
	fill: #6baed6;	
}

.category5 {
	fill: #4292c6;	
}

.category6 {
	fill: #2171b5;	
}

.category7 {
	fill: #084594;	
}



.map-background {
	fill: #fff;
	stroke: none;
}



/* loading screen */
.loading-background {
	fill: #f5f5f5;
  stroke: #f5f5f5;
  stroke-width: 0;
}


/* country details */
.country-details {
	text {
		fill: #5e686b;
		stroke: none;
	}

	.title {
		font-weight: bold;
	}

}
