
<div class="content-wrapper" ng-controller="MainCtrl">


  <div class="col-lg-12 text-center">
    <h1>Urbanization</h1>

    <div class="btn-group">
      <button type="button" ng-click="setDataProperty('urbanization')" class="btn btn-default btn-xs" ng-class="{active: dataProperty=='urbanization'}">Urbanization</button>
      <button type="button" ng-click="setDataProperty('uGrowth')" class="btn btn-default btn-xs" ng-class="{active: dataProperty=='uGrowth'}">Urban growth rate</button>
    </div>
    <p class="description">{{dataDescription}}</p>
  </div>


  <div class="col-lg-12">
    <!--<timeline periods=periods at=selectedPeriod></timeline>-->
    <timeline startdate=startDate enddate=endDate periodlength=periodLength selectedperiod=selectedPeriod></timeline>
    <map dataset=periodData display=dataProperty min=min max=max scale=scale></map>
  </div>


  <div class="col-lg-12 footer">
    <p>Source: <a href="http://esa.un.org/unup/cd-rom/urban-rural-population.htm">United Nations, Department of Economic and Social Affairs, Population Division</a></p>
  </div>


</div>