
<div class="content-wrapper" ng-controller="MainCtrl">

  <div>
    <select ng-model="dataProperty">
      <option value="uPopIncrease">Increase in urban population</option>
      <option value="uGrowth">Change in urbanization rate</option>
      <option value="urbanization">Percentage of people living in urban area</option>
      <option value="uGrowth">Growth of the urban population</option>
    </select>
  </div>

  <timeline periods=periods at=selectedPeriod></timeline>

  <map dataset=periodData width=mapWidth height=mapHeight display=dataProperty></map>

  <div>
    accountability
  </div>

</div>